:root {
    --primary-hue: 220;
    --secondary-hue: 187;
    --primary-lightness: 10%;
    --secondary-lightness: 70%;
    --primary: hsl(
            var(--primary-hue),
            100%,
            var(--primary-lightness)
        );
    --secondary: hsl(
            var(--secondary-hue),
            100%,
            var(--secondary-lightness)
        );
    --border-color: hsla(
            var(--secondary-hue),
            100%,
            var(--secondary-lightness),
            0.15
        );
}

body {
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  padding-bottom: 3.5em;
}

h2::before {
    content: "🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥";
    color: #fc0;
    margin: 2em auto;
    display: block;
}

footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    display: block;
    padding: 1em;
    flex: 1;
    color: var(--primary);
    background: var(--secondary);
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 50em;
  width: 100%;
}

th, td {
  border-width: 1px 1px 0 0;
  border-style: dashed solid;
  border-color: var(--border-color) var(--secondary);
  padding: 3px 10px 8px;
  vertical-align: top;
}

td:first-child,
th:first-child {
  white-space: nowrap;
  font-size: 2em;
  padding-left: 0;
  width: 1.3em;
  text-align: left;
  line-height: 1;
}

td:first-child em {
    font-size: .5em;
    font-style: normal;
    vertical-align: text-top;
    position: relative;
    top: 0.15em;
}

a {
    color: #9ff;
    text-decoration: none;
    border-bottom: 1px dashed var(--border-color);
}

p a {
    display: inline-block;
}

p {
    line-height: 1.8;
}

.light, .info {
    font-size: .8em;
    display: inline-block;
    padding: .1em .4em;
    border-radius: .2em;
}

.light {
    background: var(--secondary);
    color: var(--primary);
}

.info {
    background: hsl(
            calc(var(--secondary-hue) + 210),
            100%,
            var(--primary-lightness)
        );
    color: hsl(
            calc(var(--secondary-hue) + 210),
            100%,
            var(--secondary-lightness)
        );
}

.hiatus {
    background: hsl(0, 100%, var(--primary-lightness));
    color: hsl(0, 100%, var(--secondary-lightness));
    text-decoration: line-through;
}

.hiatus .info,
.hiatus .light {
    color: hsl(0, 100%, var(--primary-lightness));
    background: hsl(0, 100%, var(--secondary-lightness));
    text-decoration: none;
}

.hiatus .light {
    opacity: .4;
}

.hiatus a {
    color: inherit;
}