body {
  background: #013;
  color: #6ef;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 50em;
  width: 100%;
}

th, td {
  border-width: 1px 1px 0 0;
  border-style: dashed solid;
  border-color: #66eeff1a #6ef;
  padding: 3px 10px 8px;
  vertical-align: top;
}

td:first-child,
th:first-child {
  white-space: nowrap;
  font-size: 2em;
  padding-left: 0;
  width: 1.5em;
  text-align: left;
}

td:first-child em {
    font-size: .5em;
    font-style: normal;
}

a {
    color: #9ff;
}

p a {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed #66eeff1a;
}

p {
    line-height: 1.8;
}

.light {
    font-size: .8em;
    display: inline-block;
    background: #6ef;
    color: #013;
    padding: .1em .4em;
    border-radius: .2em;
}