body {
  background: #309;
  color: #fc0;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 50em;
}

th, td {
  border-width: 1px;
  border-style: dashed solid;
  border-color: #51c #fc0;
  padding: 3px 10px;
}

td:first-child {
  white-space: nowrap;
  font-size: .8em;
}